.loader-cover{
    background-color: rgba(187, 35, 35, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.loader {
    background: url('assets/loader.gif') no-repeat center;
    height: 100%;
    width: 100%;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}