.login-form-cover {
    background-color: rgba(25, 66, 201, 0.6);
    height: 300px;
    width: 400px;
    margin: 0 auto;

    form{
        height: 100%;
        width: 100%;

        input{
            margin: 0 auto;
        }
    }
}
