.page-banner {
    margin: 0 auto;
    text-align: center;
    
    .heading{
        background-color: rgba(25, 28, 201, 0.6);
        color: white;
        display: inline-block;
        padding: 10px 30px;
    }
}
