.login-form-cover {
    background-color: rgba(197, 36, 36, 0.836);
    height: 300px;
    width: 400px;
    margin: 0 auto;

    form{
        height: 100%;
        width: 100%;
        color: white;
        font-weight: bold;
        padding-top: 40px;

        > label, > input{
            display: block;
            width: 100%;
            text-align: center;
            margin: 0 auto;

            input{
                margin: 10px;
            }
        }

        > input{
            margin-top: 50px;
            width: 30%
        }
    }
}
